*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
  background-color: rgb(198, 195, 195);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.todo-container{
  width: 300px;
  border-radius: 14px;
  padding: 1.5rem;
  padding: 10px;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
.todo-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
}
.todo-btn{
  padding: .5rem;
  width: 90%;
  margin-top: 1.5rem;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}